.navbar-nav{
    margin-left: 600px;
}
.banner{
  background-size: cover;
background-color: #2E3944;
padding: 250px 0;
color: white;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#aboutimg{
  border-radius: 12px;
}